<%= form_with(model:[@community, @person]) do |f| %>
  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :name%>
  </p>
  <p>
    <%= f.label :Apellido %><br>
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :"Género" %><br>
    <%= f.select :gender, options_for_select([
      ["Femenino", "Femenino", {:class=>"bold"}],
      ["Masculino", "Masculino", {:class=>"bold"}] ]), {},
      html_options = {:class => "listBox", :style=>"float:left;"} %><br>
  </p>
  <p>
    <%= f.label :"E-mail" %><br>
    <%= f.text_field :mail %>
  </p>
  <p>
    <%= f.label :Teléfono %><br>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.submit%>
  </p>
<% end %>
