<h1>Listado de Comunidades</h1>
<table>
  <tr>
    <th><h2>Nombre</h2></th>
    <th><h2>País</h2></th>
    <th><h2>Región</h2></th>
    <th><h2>Comuna</h2></th>
    <th><h2>Estado</h2></th>
    <th colspan="3"></th>
  </tr>

  <% @communities.each do |community| %>
    <tr>
      <th><%= link_to community.name, community_path(community) %></th>
      <th><%= Country.find(Region.find(Location.find(community.location_id).region_id).country_id).name %></th>
      <th><%= Region.find(Location.find(community.location_id).region_id).name %></th>
      <th><%= Location.find(community.location_id).name%></th>
      <th><%= community.status_id%></th>
      <td><%= link_to 'Borrar', community_path(community),
              method: :delete,
              data: { confirm: '¿Estás seguro?' }%></td>
    </tr>
  <% end %>
</table>
<td><%= link_to 'Nuevo', new_community_path(@community) %></td>
