<p>
  <strong>Nombre:</strong>
  <%= @community.name %>
</p>

<p>
  <strong>País:</strong>
  <%= Country.find(Region.find(Location.find(@community.location_id).region_id).country_id).name %>
</p>

<p>
  <strong>Dpto/Provincia/Region:</strong>
  <%= Region.find(Location.find(@community.location_id).region_id).name %>
</p>

<p>
  <strong>Comuna/Localidad/Municipio:</strong>
  <%= Location.find(@community.location_id).name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @community.status_id %>
</p>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Género</th>
    <th>Teléfono</th>
    <th>Mail</th>
    <th>Estado</th>
    <th colspan="4"></th>
  </tr>
<h2>Vecinos de la comunidad</h2> <%= link_to 'Nuevo vecino', new_community_person_url(@community) %>

<% @community.people.each do |person| %>
<tr>
    <th><%= person.name %></th>
    <th><%= person.surname %></th>
    <th><%= person.gender %></th>
    <th><%= person.phone %></th>
    <th><%= person.mail %></th>


<th><th><%= link_to 'Editar vecino', edit_community_person_path(@community, person) %><th>
</tr>
<% end %>
</table>


<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Género</th>
    <th>Teléfono</th>
    <th>Mail</th>
    <th>Estado</th>
    <th colspan="4"></th>
  </tr>
<h2>Coordinadores de la comunidad</h2> <%= link_to 'Nuevo coordinador', new_community_person_url(@community) %>

<% @community.people.each do |person| %>
<tr>
    <th><%= person.name %></th>
    <th><%= person.surname %></th>
    <th><%= person.gender %></th>
    <th><%= person.phone %></th>
    <th><%= person.mail %></th>


<th><th><%= link_to 'Editar vecino', edit_community_person_path(@community, person) %><th>
</tr>
<% end %>
</table>

<td><%= link_to 'Editar', edit_community_path(@community) %></td>
<td><%= link_to 'Borrar', community_path(@community),
        method: :delete, data: { confirm: "¿Estás seguro de borrar?"}%></td>
<td><%= link_to 'Volver', communities_path %></td>
